
@-webkit-keyframes vibrate{0%,75%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}25%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}100%,50%{-webkit-transform:rotate(0);transform:rotate(0)}}
@keyframes vibrate{0%,75%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}25%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}100%,50%{-webkit-transform:rotate(0);transform:rotate(0)}}
*{
	font-family: 'Montserrat', sans-serif;
}
header.main-header {
    padding: 0 40px;
    border-bottom: 1px solid #F0F2F7;
}
img.logo-image {
    max-height: 60px;
}
.right_header {
    display: flex;
    justify-content: flex-end;
}
.right_header .notification {
    max-width: 92px;
    width: 100%;
    padding: 34px 20px;
    font-size: 18px;
    line-height: 1em;
	border-right: 1px solid #F0F2F7;
	border-left: 1px solid #F0F2F7;
}
.left_header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.right_header .notification span {
    display: inline-block;
    color: #54555c;
    font-weight: 600;
    background: #F0F2F7;
    width: 20px;
    text-align: center;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 14px;
}
ul.menu_drop {
    display: none;
    position: absolute;
    background: #fff;
    top: 66%;
    padding: 0;
    list-style: none;
    width: 200px;
    right: 0;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.25);
}
.right_header .main_menu:hover ul.menu_drop,ul.menu_drop:hover{
	display: block;
}
.form_message_final {
	display:none;
    position: fixed;
    top: 100px;
    right: 20px;
    background: #1d9122;
    color: #fff;
    padding: 20px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 11px 10px rgb(0 0 0 / 12%);
	z-index:9999;
}
.right_header .main_menu {
    max-width: 120px;
    width: 100%;
    padding: 34px 20px;
    font-size: 18px;
    line-height: 1em;
    display: flex;
    color: #272727;
    position: relative;
}
.right_header .main_menu span {
    padding-left: 10px;
    line-height: 0.8em;
}
ul.menu_drop>li a i {
    margin-right: 10px;
}
ul.menu_drop:before {
	content: "";
	position: absolute;
    top: -7px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}
ul.menu_drop>li>a {
    color: #222;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 20px;
    display: block;
    border-bottom: 1px solid #F0F2F7;
}
.footer_top {
    padding: 10px 15px;
    border-bottom: 1px solid #F0F2F7;
}
ul.footer_menu {
    list-style: none;
    padding: 0;
}
ul.footer_menu >li {
    display: inline-block;
    padding: 0 10px 0 0;
}
ul.footer_menu>li>a {
    color: #272727;
    text-decoration: none;
}
.footer_bottom a {
    text-decoration: none;
    color: #da003e;
}
.footer_top {
    padding: 10px 15px;
    border-bottom: 1px solid #F0F2F7;
    margin-bottom: 35px;
}
section.main_container {
    background: #f6f5f5;
    padding:50px 0;
}
ul.notification_list {
    padding: 0;
    list-style: none;
}
ul.notification_list>li {
    padding: 10px;
    border-bottom: 1px solid #F0F2F7;
    margin: 0 10px;
}

ul.notification_list>li>a {
    text-decoration: none;
    color: #222;
    font-weight: 300;
    display: flex;
}
ul.notification_list>li>a h2 {
    font-size: 20px;
    font-weight: 400;
}
.notification_section {
    background: #fff;
    padding: 10px 0 0;
}
.notification_header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #F0F2F7;
}
.notification_header>h2>a {
    color: #222222;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
}
ul.notification_list>li>a .news-right {
    text-align: right;
    width: 25%;
}
ul.notification_list>li>a .news-left {
    width: 75%;
}
ul.notification_list>li:last-child{
	border: 0;
}
ul.brand_list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
ul.brand_list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
ul.brand_list li {
    width: 33.33%;
    position: relative;
}
ul.brand_list>li>a {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    color: #fff;
    position: relative;
    text-decoration: none;
}
ul.brand_list>li>a .brand_title {
    background: #DD042B;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}
ul.brand_list>li>a .list-image {
    height: 190px;
    background: #444;
    padding: 15px;
    overflow: hidden;
}
ul.brand_list>li>a .list-image img {
    margin: 0 auto;
    display: table;
    max-width: 100%;
    max-height: 100%;
    transition: ease 0.5s;
}
ul.brand_list>li>a .brand_hover_box {
    background: #666;
    position: absolute;
    top: 0;
    width: 100%;
    height: 190px;
    padding: 30px;
    font-size: 14px;
    opacity: 0;
    transition: ease 0.5s;
}
ul.brand_list>li>a:hover .list-image img {
    transform: scale(1.5);
}
ul.brand_list>li>a:hover .brand_hover_box{
	opacity: 1;
}
.brand_hover_box h4{
	font-size: 18px;
	margin: 10px 0 30px;
}
ul.notification_list>li>a:hover,.notification_header>h2>a:hover,ul.brand_list.inner_list>li>.list_inner_block a:hover{
    color: #da003e;
}
.pad0{
	padding:0 !important;
}
.bell:hover{
-webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: vibrate .2s linear 0s infinite both;
    animation: vibrate .2s linear 0s infinite both;
}
footer {
    padding-bottom: 50px;
}
ul.brand_list.inner_list>li>a:hover .list-image img {
    transform: scale(1);
}
ul.brand_list.inner_list>li>.list_inner_block {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    background: #fff;
    position: relative;
    text-decoration: none;
}
ul.brand_list.inner_list>li>.list_inner_block .list-image {
    height: 180px;
    background: #444;
    padding: 15px;
    overflow: hidden;
}
ul.brand_list.inner_list>li>.list_inner_block .list-image img {
    margin: 0 auto;
    display: table;
    max-width: 100%;
    max-height: 100%;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}
ul.brand_list.inner_list>li>.list_inner_block .brand_detail {
    padding: 15px 15px 0;
}
ul.brand_list.inner_list>li>.list_inner_block a {
    text-decoration: none;
    color: #54555c;
}
ul.brand_list.inner_list>li>.list_inner_block a p {
    margin: 0;
}
ul.brand_list.inner_list>li>.list_inner_block a.download_link {
    font-size: 13px;
    display: block;
    padding: 5px 15px 15px;
}
ul.brand_list.inner_list>li>.list_inner_block a.download_link svg {
    transition: ease 0.5s;
    width: 12px;
    margin-right: 5px;
}
ul.brand_list.inner_list>li>.list_inner_block a.download_link:hover svg {
    transform: scale(1.2);
}
.notification_section.breadcrumbs_box {
    padding: 20px;
    margin-bottom: 20px;
}
ul.breadcrumbs {
    list-style: none;
    padding: 0;
    display: flex;
    border: 1px solid #F0F2F7;
    border-radius: 4px;
    font-size: 14px;
}
ul.breadcrumbs>li {
    padding: 10px;
}
ul.breadcrumbs>li>a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: #DD042B;
}
ul.brand_list.inner_list.videos_list>li {
    width: 50%;
}
ul.brand_list.inner_list.videos_list>li .list_inner_block {
    clear: both;
    display: flex;
}
ul.brand_list.inner_list.videos_list>li .list_inner_block .list-videos {
    width: 50%;
}
ul.brand_list.inner_list.videos_list>li .list_inner_block .video_detail {
    width: 50%;
    padding: 20px;
}

ul.brand_list.inner_list.videos_list>li .list_inner_block .video_detail h3 {
    font-size: 20px;
    line-height: 1.5em;
}
.plus_new_block {
    padding: 0 15px;
}
.plus_new_block>a {
    display: flex;
    width: 100%;
    min-height: 150px;
    border: 2px dashed #bbb;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    color: #aaa;
    text-decoration: none;
    flex-wrap: wrap;
    padding-top: 15px;
    margin: 25px 0;
}
.plus_new_block>a>p {
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: #aaa;
}
.response_message {
    text-align: center;
    padding: 15px;
}
.popup_block {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgba(0,0,0,0.4);
    z-index: 999;
    display: block;
    top: 0;
}
.popup_inner {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background: #fff;
    margin: 0 auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.popup_inner h3 {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
a.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    font-size: 40px;
    line-height: 1em;
    width: 40px;
    text-align: center;
    color: #85021a;
    border-radius: 50%;
    transform: rotate(45deg);
}
.form-control {
    margin-bottom: 20px;
}
ul.brand_list>li>a.delete_post {
    color: #dd042b;
    font-size: 56px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    display: inline-block;
    width: 50px;
    transform: rotate(45deg);
    margin: 0;
    height: 50px;
    text-align: center;
    line-height: 1em;
}
/*login css*/
form.login-form {
    max-width: 550px;
    background: #fff;
    padding: 30px;
    margin: 50px auto;
}
form.login-form img.img-logo {
    margin-bottom: 40px;
}
form.login-form input {
    width: 100%;
    height: 50px;
    border-radius: 0;
}
a.forgot_link {
    margin-top: 50px;
    display: block;
    text-decoration: none;
    color: #222;
}
.btn-danger {
    background: #c50225;
}










/*login css end*/


ul.brand_list>li>a.edit_post {
    color: #dd042b;
    margin-top: 0;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 99;
    display: inline-block;
    font-size: 20px;
    width: 32px;
    background: #fff;
    padding: 5px;
}








@media (max-width:991.98px){
    ul.brand_list li{
        width: 50%;
    }
    ul.brand_list.inner_list.videos_list>li {
        width: 100%;
    }
}

@media (max-width:991.98px){
    ul.brand_list li{
        width: 50%;
    }
}
@media (max-width:767px){
    .right_header .main_menu>span {
        display: none;
    }
    ul.brand_list li{
        width: 100%;
    }
    footer .col-6 {
        width: 100%;
    }
    header.main-header {
        padding: 0;
    }
    .right_header .main_menu {
        max-width: 60px;
        font-size: 30px;
        padding: 30px 20px;
    }
    .right_header .notification {
        border-left: 0;
        padding-left: 0;
        text-align: center;
        padding-right: 0;
    }
    .col-3.left_header,.col-9.right_header {
        width: 50%;
    }
    section.main_container.breadcrumbs_main_container {
        padding-top: 0;
    }
    section.main_container.breadcrumbs_main_container>.container:first-child,
    .notification_section.breadcrumbs_box {
        padding: 0;
    }
    ul.breadcrumbs>li>a {
        padding: 0 5px 0 0;
    }

}
@media(max-width: 580px){
    ul.brand_list.inner_list.videos_list>li .list_inner_block {
        display: block;
    }
    ul.brand_list.inner_list.videos_list>li .list_inner_block .list-videos,
    ul.brand_list.inner_list.videos_list>li .list_inner_block .video_detail{
        width: 100%;
    }
}